.selected {
    text-decoration: line-through;
}


body {
    font-size: 12px;
    font-family: arial, sans-serif;
    color: #333;
    width:500px;
}


#menu {
    margin: 0 auto;
    padding: 0px 0px 15px 0px;
    display: inline;
}

#menu li {
    text-align: left;
    display: inline;
    list-style: none;
    padding: 3px 10px 3px 10px;
    border: 1px solid #999;
}

#menu li a {
    text-decoration: none;
}

.form-table {
    background: #fff;
    border-collapse: collapse;
    border: 1px solid #999;
    text-align: left;
}

.form-table td {
    padding: 1px 8px;
}

.list-table {
    background: #fff;
    margin: 0px;
    width: 50%;
    border-collapse: collapse;
    text-align: left;
}

.list-table th {
    font-weight: normal;
    padding: 0px 8px;
    border-bottom: 2px solid #000;
}

.list-table td {
    padding: 9px 8px 0px 8px;
}

.list-table tr.selected td {
    background-color: #EEE;
}

.right {
    text-align: right;
}