<h1>Contacts</h1>

<div>
    <input type="text" [(ngModel)]="queryString" id="search-string" placeholder="Search">
</div>
<br>

<table class="list-table">
    <tr>
        <th width="100" align="left">Name</th>
        <th width="100" align="left">Phone</th>
        <th width="30" align="left">Delete</th>
        <th width="30" align="left">Select</th>
    </tr>
    <tr [class]="contact.done ? 'selected' : ''" *ngFor='let contact of contacts | FilterPipe: queryString'>
        <td>
            <a class="edit-link"  routerLink="/new/{{ contact._id }}">{{ contact.name }}</a>
        </td>
        <td>
            {{ contact.phone }}
        </td>
        <td>
            <button class="delete-link" (click)="deleteContact(contact._id)">X</button>
        </td>
        <td>
            <input type="checkbox" [(ngModel)]="contact.done"/>
        </td>
    </tr>
</table>
<br>
<button (click)="selectAll()">Select all</button >
<button id="delete-all-link" (click)="deleteSelected()">Delete Selected</button >

