<div>
    <input placeholder="input" [(ngModel)]="inputText">
    <button (click)="translate()">Tõlgi</button>
    <br>
    <!--est-eng == true-->
    <input type="radio" name="switch" (click)="selectLang(true)" checked="checked">Eesti-Inglise
    <input type="radio" name="switch" (click)="selectLang(false)">Inglise-Eesti
    <br>
    <h3>Result:</h3>
    {{result}}
</div>