<div>
    <h1>Contact:</h1>
    <input id="name-input" placeholder="Name" [(ngModel)]="newContactName"/>
    <br>
    <input id="phone-input" placeholder="Phone" [(ngModel)]="newContactPhone"/>
    <br>
    <button id="save-link" (click)="addNewTask()">Ok</button ><br><br>

    <button (click)="back()">Back</button>
</div>
